body {
    background: #ffdbdb;
}

.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    text-align: center;
    padding: 20px;
    width: 40%;
    margin-top: 20px;
}

input {
    padding: 10px;
    outline: none;
    font-size: 16px;
    width: 50%;
    border: 2px solid #2f4e77
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: rgb(251, 255, 0);
    border: 1px solid;
}

.newElement {
    background: #7bff0057;
    padding: 10px;
    text-align: left;
}

.newElement i {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width:1000px) and (min-width:100px) {
    .container {
        width: 90%;
    }
}

/* ------------------------ FAQ ---------------------- */
.acordian {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 20px;
    transition: transfrom 0.2s;
}

.icon.active {
    transform: rotate(180deg);
}

.answer {
    height: 0;
    overflow: hidden;
}

.answer.active {
    height: auto;
}


/* ------------------------ QR Code ---------------------- */
.main_qr_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr_code_container {
    background: #ffffff;
    width: 50%;
    padding: 20px;
    text-align: center;
}


#img_box img {
    padding: 10px 0px;
    width: 20%;
    margin: auto;
}

@media only screen and (max-width:1000px) and (min-width:100px) {
    .qr_code_container {
        width: 90%;
    }

    #img_box img {
        width: 50%;
    }
}

/* #img_box {
    max-height: 0px;
    background: #ffffff;
    transition: height .2s;
}


.active_img_box {
    max-height: 300px;
    background: #ffffff;
    width: 200px;
} */